pkgbase = ditana-mirrorlist
	pkgdesc = Ditana mirrorlist for pacman
	pkgver = 1.12
	pkgrel = 1
	url = https://ditana.org
	arch = any
	license = AGPL-3.0-or-later
	source = ditana-mirrorlist
	sha256sums = SKIP

pkgname = ditana-mirrorlist
